.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0rem 0  2rem;
}

.tool-category {
  background: var(--secondary-color);
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid var(--secondary-color);
}

.tool-category h3 {
  font-size: 1.25rem;
  margin-bottom: var(0.7rem);
  color: var(--primary-color);
}

.tool-category ul {
  list-style: none;
}

.tool-category li {
  color: var(--background-color);
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--text-primary);
}

.tool-category li:last-child {
  border-bottom: none;
}
