.hero-section {
  height: calc(100vh - 12vh);
  gap: 2rem;
}

.hero-content,
.hero-image {
  flex: 1;
  flex-basis: 300px;
}

.tag {
  background: var(--primary-color);
  padding: 6px;
  color: var(--text-primary);
  font-size: 0.9rem;
  text-transform: capitalize;
  border-radius: 6px;
  color: var(--background-color);
}
h1 {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--text-primary);
}
.color-txt {
  color: var(--primary-color);
}

.para {
  font-size: 0.95rem;
  color: var(--seconday-color);
  max-width: 550px;
  margin-block: 1rem;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: var(--primary-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  color: var(--primary-color);
  background: transparent;
}
.border-btn {
  background: transparent;
  color: var(--primary-color);
  transition: 0.3 all ease-in-out;
}
.border-btn:hover {
  background: var(--primary-color);
  color: white;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-box {
  /* margin-left: 4rem; */
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background: var(--gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  width: 22rem;
  height: 22rem;
  clip-path: circle(50% at 50% 50%);
}
@media screen and (max-width: 850px) {
  .hero-image {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.7rem;
    line-height: 2.8rem;
  }

  .action-btns {
    gap: 1rem;
  }
}
