@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #2563eb;
  --secondary-color: #1e293b;
  --background-color: #f8fafc;
  --text-primary: #000000;
  --text-secondary: #363b40;
  --footer: #161718;
  --gradient: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
  --transition: 0.3 all ease-in-out;
}
[data-theme="dark"] {
  --primary-color: #22c55e;
  --secondary-color: #545b67;
  --background-color: #020617;
  --text-primary: #e5e7eb;
  --text-secondary: #4a4e54;
  --gradient: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  --footer: #232525;
}
body {
  background: var(--background-color);
  color: var(--text-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 95%;
  margin: auto;
  padding-inline: 2rem;
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}
.heading {
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
  color: var(--text-primary);
}

.heading::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -6px;
  height: 3px;
  background: var(--gradient);
  border-radius: 10px;
}
